.root {
    -fx-background-image: url("/sample/Imagenes/wood_bg.jpg");
    -fx-background-size: cover, auto;
    -fx-background-repeat: stretch, no-repeat;
    -fx-background-position: center;
}

#main-header-label {
    -fx-font-family: 'Roboto';
    -fx-font-weight: bolder;
    -fx-font-size: 30px;
    -fx-text-alignment: center;
    -fx-max-width: infinity;
}

#header-content {
    -fx-spacing: 330;
}

#back-button-box {
    -fx-padding: 10px 0 5px 10px;
    -fx-alignment: center-left;
}

#title-box {
    -fx-padding: 10px 0px 5px 0px;
    -fx-alignment: center;
}

#servicio-box {
    -fx-spacing: 20;
    -fx-padding: 10px 0 5px 0;
    -fx-alignment: center-left;
}

.btn-regresar {
    -fx-background-image: url(/sample/Imagenes/Otras/left-arrow.png);
    -fx-background-color: transparent;
    -fx-background-size: cover, auto;
    -fx-background-repeat: stretch, no-repeat;
    -fx-background-position: center;
    -fx-pref-width: 32px;
    -fx-pref-height: 32px;
    -fx-border-radius: 100px;
}

.servicio-cb-cont {
    -fx-text-alignment: left;
    -fx-spacing: 10;
}

.servicio-label {
    -fx-font-family: 'sans-serif';
    -fx-font-size: 14px;
    -fx-font-weight: bold;
    -fx-text-alignment: left;
    -fx-wrap-text: true;
}

.tab-pane .tab-header-area .tab .tab-label {
    -fx-font-size: 20px;
    -fx-font-weight: bolder;
}

.tab-pane {
    -fx-tab-min-height: 75px;
    -fx-tab-max-height: 75px;
    -fx-tab-min-width: 250px;
    -fx-tab-max-width: 250px;
    -fx-pref-height: 500px;
    -fx-max-width: infinity;
    -fx-padding: 0 15px 0 15px;
    -fx-background-color: transparent;
}

.tab-pane .tab-header-background {
    -fx-background-color: rgba(226, 226, 217, 0.7);
}

.tab-pane > .tab-content-area {
    -fx-background-color: transparent;
}

.platillos {
    -fx-padding: 0;
    -fx-alignment: center;
}

.my-header {
    -fx-pref-height: 70px;
    -fx-alignment: center-left;
    -fx-background-color: rgba(243, 242, 255, 0.24);
}

.my-body {
    -fx-max-height: 500px;
    -fx-padding: 0;
    -fx-max-width: infinity;
    -fx-alignment: center;
}

.my-footer {
    -fx-padding: 0, 10px, 0 ,10px;
}

.pedidos-info {
    -fx-pref-height: 300px;
    -fx-max-height: 300px;
}

.cuenta-option-pane {
    -fx-background-color: rgba(243, 242, 255, 0.24);
    /*-fx-alignment: center;*/
}

.vbox-platillo {
    -fx-padding: 15px;
}

.platillo-container {
    -fx-background-color: #f9f5ef;
    -fx-min-width: 200px;
    -fx-max-width: 200px;
    -fx-alignment: center;
}

.platillo-imagen {
    -fx-min-width: 200px;
    -fx-max-width: 200px;
    -fx-min-height: 150px;
    -fx-max-height: 150px;
    -fx-background-color: #5a9696;
    -fx-background-size: cover, auto;
    -fx-background-repeat: stretch, no-repeat;
    -fx-background-position: center;
}

.platillo-titulo {
    -fx-font-family: 'sans-serif';
    -fx-font-size: 18px;
    -fx-font-weight: bold;
    -fx-padding: 20px 0 15px 0;
    -fx-text-fill: #292929;
    -fx-text-alignment: center;
    -fx-wrap-text: true;
}

.btn-anadir {
    -fx-max-width: infinity;
    -fx-pref-width: 200px;
    -fx-pref-height: 75px;
    -fx-border-radius: 0;
    -fx-font-weight: bold;
}